---
layout: default
title: Скин-пак Kancolle для WoWS
---

<article class="post">
	<h2>Текущий набор кораблей</h2>

	<ul class="contains-task-list">
	<li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" checked="" disabled=""> Nagato</li>
	<li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" checked="" disabled=""> Isokaze</li>
	<li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" checked="" disabled=""> Umikaze</li>
	<li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" disabled=""> Kuma</li>
	<li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" checked="" disabled=""> Kongo (корпус А)</li>
	<li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" checked="" disabled=""> Kongo (корпус B,C)</li>
	</ul>

	<h2>Превью</h2>

	<p>Посмотреть, как выглядят корабли <a href="https://github.com/orels1/wows-kancolle/blob/master/PREVIEW.MD">можно тут</a></p>

	<h2>Установка</h2>

	<ul>
	<li>Скачать последнюю версию архива из <a href="https://github.com/orels1/wows-kancolle/releases">раздела релизов</a></li>
	<li>Распаковать в папку с игрой -&gt; res_mods -&gt; текущий номер патча</li>
	</ul>

	<p>Подробная инструкция есть на каждом релизе</p>

</article>

{% for post in paginator.posts %}

	<article class="post">

		{% if post.external-url %}
			<h1>
				<a href="{{ site.baseurl }}{{ post.external-url }}">{{ post.title }}</a>
				<a class="anchor" href="{{ post.url }}"><i class="icon-anchor"></i></a>
			</h1>
		{% else %}
			<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
		{% endif %}

		<div class="post-content">{{ post.content }}</div>

	</article>

{% endfor %}



{% if paginator.total_pages > 1 %}
	<div class="postnavigation">

		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="prev left" href="/">&larr; Newer</a>
			{% else %}
				<a class="prev left" href="{{ site.baseurl }}/page{{paginator.previous_page}}/">&larr; Newer</a>
			{% endif %}
		{% else %}
			<span class="nope left">&larr; Newer</span>
		{% endif %}

		<span class="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a class="next right" href="{{ site.baseurl }}/page{{paginator.next_page}}/">Older &rarr;</a>
		{% else %}
			<span class="nope right">Older &rarr;</span>
		{% endif %}

	</div>
{% endif %}
